@charset "UTF-8";

*{
    height: 100%;
}

body {

    background-image: linear-gradient(to bottom,#383C3F,#36393E,#212226,#1D1E21,#17181C );
    background-attachment: fixed;
}

img#logo{
    height: 350px;
    width: 750px;
    image-s
    
}