@charset "UTF-8";

:root {
    --cor0: #2E2E2E;
    --cor1: #E0E0E0;
    --cor2: #0077B6;
    --cor3: #121212;
    --cor4: #D4AF37;

}
*{
    margin: 0px;
    padding: 0px;
}
 /* cabeçalho do site  */

 body{
    background-color: #2E2E2E;
 }

 header{
    background-image: linear-gradient(to top, #2E2E2E, #e0e0e052);
    min-height: 150px;
    text-align: center;
    padding-top: 10px;
 }
 div.logo {
     background-position: center top;
     background-repeat: no-repeat;
     background-image: url(../imagens/logo.png);
     height: 100px;
     max-height: 89px;

 }

 nav {
    background-color: #2E2E2E;
    padding: 10px;
    box-shadow: 0px 7px 9px #0000005d;
    text-align: center;
 }
 nav > a.menu {
    color: white;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: .5s;
   
}
nav > a:hover {
    background-color: #121212;
    color: #D4AF37;
}

a > img {
    width: 25;
    height: 25px;
    position: absolute;
    
   
}

footer {
    background-color: var(--cor3);
    color: white;
    text-align: center;
}

footer a {
    color: white;
    font-weight: bolder;
    color: var(--cor4);
}